.masthead {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url("../assets/eshop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.description {
  color: "red";
}
@media (min-width: 768px) {
  .masthead h1,
  .masthead .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
}
